@{
    ViewData["Tittle"] = "Home";
}

<section class="container-fluid text-sm-center p-4 bg-white">
    <div class="container">
        <h1>Welcome to KittuBookStore</h1>
        <p class="lead text-muted ">
            This the Main page of my Application

        </p>
        <p>
            <a href="#" class="btn btn-primary">Search Books</a>
        </p>
    </div>

</section>

<div class="py-5 bg-light">
    
    <div class="container">
        <h3>Top Books</h3>
        <div class="row">
            <div class="col-md-4">
                <partial name="_bookThumbnail" model="new BookModel()" />
            </div>

            <div class="col-md-4">
                <partial name="_bookThumbnail" model="new BookModel()" />
            </div>

            <div class="col-md-4">
                <partial name="_bookThumbnail" model="new BookModel()" />
            </div>

            <div class="col-md-4">
                <partial name="_bookThumbnail" model="new BookModel()" />
            </div>
        </div>

    </div>
</div>